form.nice#connection-form
  input.small.input-text(type='text', placeholder='Username', class='username')
  input.small.input-text(type='text', placeholder='Jabber ID', class='id')
  input.small.input-text(type='password', placeholder='password', class='password')
  a.small.white.button.radius.js-submit connect
