form.nice
  input.small.input-text(type='text', placeholder='Username', class='username')
  label(for='mobile')
    input.mobile(type='checkbox', name='mobile')
    |  Using you mobile ?
  a.small.white.button.radius.js-submit connect
.state-info
