form#connection-form
  input(type='text', placeholder='Username', class='username')
  input(type='text', placeholder='Jabber ID', class='id')
  input(type='password', placeholder='password', class='password')
  button(type='submit') Connect
