form.nice
  input.small.input-text(type='text', placeholder='username (max 20)', class='username')
  label(for='mobile')
    input.mobile(type='checkbox', name='mobile')
    |  Using your mobile ?
  a.small.white.button.radius.js-submit connect
.state-info
