!!!5
html(lang="en")
    head
      title KadOH-Twitter
      link(rel='stylesheet', href='/stylesheets/foundation.css')
      script(src='/app.js')
      case transport
        when 'test'
          script(src='/init-test.js')
        when 'simudp'
          script(src='/init-udp.js')
        when 'xmpp'
          script(src='/init-xmpp.js')
    body
      .container
        h1 This is KadOH-Twitter
        case transport
          when 'simudp'
            h2 You are backed by udp
          when 'xmpp'
            h2 You are backed by xmpp
