!!!5
html(lang="en")
    head
      title KadOH-Twitter
      meta(name='viewport', content="width=device-width, initial-scale=1.0")
      link(rel='stylesheet', href='/stylesheets/foundation.css')
      link(rel='stylesheet', href='/stylesheets/style.css')
      script(src='/app.js')
      script(src='/spinner.js')
      case transport
        when 'test'
          script(src='/init-test.js')
        when 'simudp'
          script(src='/init-udp.js')
        when 'xmpp'
          script(src='/init-xmpp.js')
    body
      .container
        .row#container