#main.six.columns.centered
  .intro
    h2 KadOH-twitter
    p 
      | This application is a experiment of distributed application for browsers using 
      a(href='https://github.com/jinroh/kadoh') KadOH
      | . 
    p
      | It will be run few days, and your activity will be logged for
      | performance analysis purpose (only). Don't expect it to be totally reliable, 
      | neither to be robust to security attack (so, please, don't hack too hard)
      | since it's only a prototype.
    p But, please, play with it !
  #connection-form