a.small.white.button.radius.js-refresh refresh
span.spinner
  img(src='/spinner.gif')
nav
  ul
    li 
      a(rel='external', href='/time/latest') >> latest tweets
      br
    li
      form.nice
        input(type='text', placeholder='# or @').small.input-text
        a.go(style= 'float: right;') >>go
