.head
  a.author(href='/author/'+author, rel='external') #{author}
  | &nbsp;wrote on&nbsp;
  span.date #{date.toUTCString()}
.text 
  p #{text}
- if(hashtags.length > 0)
  ul.hashtag.breadcrumbs
   each tag in hashtags
     li
       a(href='/hashtag/'+tag, rel='external') #{tag}